{% load static %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table id="genes"
             class="table table-striped" style="width:100%">
        <thead>
        <tr>
          <th>check</th>
          <th>icon</th>
          <th>label</th>
          <th>Xenotypes</th>
          <th>Xenotype Count</th>
          <th>Category</th>
          <th>is_cosmetic</th>
          <th>trader_only</th>
          <th>def_name</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>